.app-container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.navbar {
    width: 100vw;
    height: 75px;
    background-color: #3b945e;
}

.navbar h1 {
    margin: calc((75px - 45px) / 2);
}